<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/voto.png" type="image/png" />
    <title>Teste Voto Brasil</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/tela-inicial.css">
    <link rel="stylesheet" href="/css/tela-cadastro.css">
    <link rel="stylesheet" href="/css/tela-candidator.css">
    <link rel="stylesheet" href="/css/tela-inicio-voto.css">
    <link rel="stylesheet" href="/css/tela-confirm-cadastro.css">
    <link rel="stylesheet" href="/css/historico-cadastro.css">
    <link rel="stylesheet" href="/css/liberacao-votacao.css">
    <link rel="stylesheet" href="/css/tela-finalizar.css">
    <link rel="stylesheet" href="/css/tela-error.css">
    <script src="../../meuScript.mjs" defer></script>
    <script src="../../votacao.mjs" defer></script>
    <script src="../../votacaoPrefeito.mjs" defer></script>
    <script src="../../validateForm.mjs" defer></script>
    <script src="../../telaInicioVoto.mjs" defer></script>
    
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfzRSoqAAAAANAM0hthh9gEY398Y3C3i2ov72cr"></script>

</head>

<body>

    {{{body}}}

</body>

</html>