<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tela-inicial.css">
    <link rel="stylesheet" href="/css/tela-cadastro.css">
    <link rel="stylesheet" href="/css/tela-candidator.css">
    <link rel="stylesheet" href="/css/tela-inicio-voto.css">
    <link rel="stylesheet" href="/css/tela-confirm-cadastro.css">
    <link rel="stylesheet" href="/css/historico-cadastro.css">
    <script src="../../meuScript.mjs" defer></script>
</head>
<body>
    {{{body}}}
</body>
</html>