.content_confirmaçao_cadastro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .box_img {
        width: 100%;
        height: 100%;
        /* margin-top: 50px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
        }
    }

    h1 {
        color: #00AE50;
        margin-top: 15px;
    }

    .codigo_verificao {
        font-size: 35px;
        margin-top: 30px;
    }
    .qrcode{
        width: 70%;
    }
    .content_link{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* gap: 15px; */
        width: 70%;
        .img-whatsaap{
            img{

                width: 70px;
                height: 70px;
            }
        }
    }
    .button-cad{
        padding: 10px 30px;
        margin-top: 20px;
        width: 70%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        text-decoration: none;
        outline: none;
        color: white;
        border-radius: 5px;
        background-color: #359cfc;
    }
    
    @media (width>700px) {
        .box_img {
            width: 100%;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img {
                width: 40%;
            }
        }
        .button{
           margin-top: 20px;
           
        }
    }

}