* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
button,a{
    user-select: none;
    -webkit-user-select: none; /* Para navegadores WebKit (Safari e Chrome) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para navegadores da Microsoft */
}
body {
    width: 100%;
    height: 100vh;
}
/* Para Chrome, Safari, Edge e Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


a {
    text-decoration: none;
    font-size: 20px;
}

.section_principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background: radial-gradient(circle, #ffffff, #01e6ff); */
    background: radial-gradient(circle, #ffffff, #FFDBC8);
    
    
    .content_title {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 70%;
            margin: auto;
        }
        h2 {
            font-size: 3rem;
            color: #ffffff;
            text-align: center;
        }

        h3 {
            font-size: 2.5rem;
            color: #ffffff;
            font-weight: bolder;
            text-align: center;

        }

        p {
            width: 70%;
            /* font-size: 14px; */
            color: #333333;
            text-align: center;
        }
    }
    .msg_text{
        margin: 0;
    }
    .content_img{
        width: 90%;
        position: relative;
       
        a{
            display: flex;
            justify-content: center;
        }
        img {
            width: 40%;
            margin: auto;
        }

    }

}

.content_btn {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;

    .btn_inicar {
        height: 70px;
        margin: 10px auto;
        border-radius: 10px;
        background-color: #8EE26B;
        box-shadow: 1px 1px 2px rgb(0,0,0,.4);
        width: 100%;
        color: #333333;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (width>700px) {
    body {
        height: min-content;
        width: 350px;
        margin: auto;
        /* border: 1px solid #ddd; */
    }
    .section_principal {
        height: 100vh;
    }
   
}