<section class="content_cadastro">

    <div class="content_title_input">
        <div class="box_voltar_title">
            <a href="/">
                <span class="material-symbols-outlined">
                        keyboard_return
                </span>
            </a>
            <h2 class="title">Historico de cadastro</h2>

            <span class="material-symbols-outlined">
                info
            </span>

        </div>
        <input type="text" placeholder="Pesquisar cadastro">
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Titulo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr class="info-row">
                    <td colspan="4">
                        <div class="info"><span>12/02/2024 12:45</span><a href="#">Gerenciar</a></div>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>02023</td>
                    <td>1234 56789 101</td>
                    <td>
                        <div class="circle_status"></div>
                    </td>
                <tr class="info-row">
                    <td colspan="4">
                        <div class="info"><span>12/02/2024 12:45</span><a href="#">Gerenciar</a></div>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>02023</td>
                    <td>1234 56789 101</td>
                    <td>
                        <div class="circle_status"></div>
                    </td>
                <tr class="info-row">
                    <td colspan="4">
                        <div class="info"><span>12/02/2024 12:45</span><a href="#">Gerenciar</a></div>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>02023</td>
                    <td>1234 56789 101</td>
                    <td>
                        <div class="circle_status"></div>
                    </td>
                <tr class="info-row">
                    <td colspan="4">
                        <div class="info"><span>12/02/2024 12:45</span><a href="#">Gerenciar</a></div>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>02023</td>
                    <td>1234 56789 101</td>
                    <td>
                        <div class="circle_status"></div>
                    </td>
                <tr class="info-row">
                    <td colspan="4">
                        <div class="info"><span>12/02/2024 12:45</span><a href="#">Gerenciar</a></div>
                    </td>
                </tr>
                </tr>


            </tbody>
        </table>

    </div>
</section>