<section class="content_tela_inicio_voto">

    <div class="box_img"><img src="/img/vetor-inicio-voto.png" alt=""></div>
    <p>Verificação zona de votação</p>
    <h1>Codigo cadastro</h1>
    <form action="/votacao/vereador" method="post" id="formInicioVoto">

        {{#if idInsert}}

            <input type="hidden" value="{{idInsert}}" id="id" name="id">

            <div class="content_codigo">
                {{#each digitsArray}}
                <input class="box_codigo" value="{{this}}" readonly>
                {{/each}}
            </div>

        {{else}}

            <div class="content_codigo">

                <input type="number" class="box_codigo" maxlength="1">
                <input type="number" class="box_codigo" maxlength="1">
                <input type="number" class="box_codigo" maxlength="1">
                <input type="number" class="box_codigo" maxlength="1">
                <input type="number" class="box_codigo" maxlength="1">

            </div>

        {{/if}}
        <button class="btn-avanca-inicio">Avançar</button>
    </form>
</section>