<section class="content_tela_inicio_voto">
    <div class="box_img"><img src="/img/vetor-inicio-voto.png" alt=""></div>
    <p>Verificação zona de votação</p>
    <h1>Codigo cadastro</h1>
    <div class="content_codigo">
        <input class="box_codigo">
        <input class="box_codigo">
        <input class="box_codigo">
        <input class="box_codigo">
        <input class="box_codigo">
    </div>
    <button>Avançar</button>
</section>