<section class="content_candidator">
    <h3 class="title_candidato">Votação Vereador</h3>
    <div class="content_img_candidato">
        <div class="box_img"></div>
    </div>

    <div class="box_number_candidato">
        <div class="content_item"></div>
        <div class="content_item"></div>
        <div class="content_item"></div>
        <div class="content_item"></div>
        <div class="content_item"></div>
    </div>

    <div class="content_number_votacao">
        <div class="box_number">1</div>
        <div class="box_number">2</div>
        <div class="box_number">3</div>
        <div class="box_number">4</div>
        <div class="box_number">5</div>
        <div class="box_number">6</div>
        <div class="box_number">7</div>
        <div class="box_number">8</div>
        <div class="box_number">9</div>
        <div class="box_number">0</div>
    </div>

    <div class="content_teclas">
        <div class="tecla_branca">Branco</div>
        <div class="tecla_laranja">Corrigir</div>
        <div class="tecla_verde">Confirmar</div>

    </div>

</section>