<section class="content_confirmaçao_cadastro">
    
    <div class="box_img"><img src="/img/vetor-confirmção.png" alt=""></div>
    <h1>Cadastro realizado</h1>
    <h2>000234</h2>
    <div class="button"><a href="/">Inicio</a></div>

</section>