<section class="section_principal">
    <div class="content_title">
        <h2>Brasil</h2>
        <h1>Teste Voto</h1>
        <p>O futuro em suas mãos!</p>
        <p>Sua decisão é uma peça chave na construção de um país mais justo e próspero.</p>

    </div>
    
    <div class="content_img">
        {{!-- <img src="/img/vetor-inicial.png" alt=""> --}}
        <img src="/img/vetor-inicio-voto.png" alt="">
    </div>

    <div class="content_btn">
        <a class="btn_inicar" href="/cadastro/cadastro-titulo">Iniciar</a>
        {{!-- <div class="btn_inicar"><a href="/cadastro/historico-cadastro"><span>Historico</span></a></div> --}}
    </di>
    
</section>