<section class="section_principal">
    <div class="content_title">
        <h2>Brasil</h2>
        <h1>Teste Voto</h1>
        <p>O futuro em suas mãos!</p>
        <p>Sua decisão é uma peça chave na construção de um país mais justo e próspero.</p>

    </div>
    <div class="content_img">
        <img src="/img/vetor-inicial.png" alt="">
    </div>
    {{!-- <div class="content_txt_msg">
        <p>Teste de voto em andamento: é crucial participarmos e garantirmos que tudo funcione corretamente. Sua
            contribuição é essencial para o futuro das eleições no Brasil!</p>
    </div> --}}

    <div class="content_btn">
        <div class="btn_inicar"><a href="/cadastro/historico-cadastro"><span>Historico</span></a></div>
        <div class="btn_inicar"><a href="/cadastro/cadastro-titulo"><span>Iniciar</span></a></div>
        </di>
</section>