<section class="section_finalizar">

    <div class="content_finalizar">
        <h1 class="title_finalizar">FIM</h1>
        <p>Você Votou</p>
        <a class="button-finalizar" href="/">Inicio</a>
        
    </div>
    
    <div class="content_load">
        <p>Gravando</p>
        <div class="barra-load">
            <div class="load"></div>
        </div>
    </div>


</section>