
<section class="section_principal">
    
    <div class="content_title">
        <img src="/img/logo-tvb.png" alt="">
    </div>
    
    <div class="content_img">
        <img src="/img/voto.png" alt="">
    </div>

    <div class="content_title msg_text">
        <p>O futuro em suas mãos!</p>
        <p>Sua decisão é uma peça chave na construção de um país mais justo e próspero.</p>
    </div>

    <div class="content_btn">
        <a class="btn_inicar" href="/cadastro/cadastro-titulo">Iniciar</a>
    </di>
    
</section>