<section class="section_principal">

    <div class="content_title">
        <img src="/img/logo.png" alt="">
    </div>

    <div class="content_img">
        <a class="btn_inicar" href="/cadastro/cadastro-titulo"><img src="/img/voto.png" alt=""></a>
    </div>
    <p style="color: rgb(59, 59, 255);">Click acima para iniciar!</p>
    <div class="content_title msg_text">
        <p>O futuro em suas mãos!</p>
        <p>Sua decisão é uma peça chave na construção de um país mais justo e próspero.</p>
    </div>

    {{!-- <div class="content_btn">
        </di> --}}

</section>