<div class="container">
    <div class="countdown">
        <span id="timer">10</span>
    </div>
    <div class="warnings">
        <h1>Atenção!</h1>
        <p>Sua votação sera liberada,Aguarde!</p>
    </div>
    
</div>